.caption-type-cards,
.caption-difficulty {
  font-size: 25px;
  font-weight: 500;
  margin-top: 30px;
}

.select-type-cards,
.select-difficulty {
  font-size: 20px;
  font-style: italic;
  margin-top: 10px;
  width: 300px;
}

